body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

#comic-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#comic-page {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}
